<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/showItemsStyle.css">
    <title>Items</title>
</head>

<body>
<header>
    <div class="logo">
        <div class="circle"><img src="css/commas.png" alt="logo"></div>
        <h1>Online Marketplace</h1>
    </div>
    <div class="navbar">
        <ul>
            <li>You are logged in as
                <span sec:authorize="isAuthenticated()">
                 <span sec:authentication="name"/>
             </span>
             <span sec:authorize="isAnonymous()">
                 Guest
             </span>

            </li>
            <li><a th:href="@{/logout}">Logout</a></li>


        </ul>
    </div>
</header>


<section class="sorting">

    <div><a href="myitems"> Show My Items</a></div>
    <div><a href="search"> Advanced Search</a></div>
</section>


<section class="mainTable">
    <table class="items-table">
        <thead class = "main-head">
        <tr>
            <th>Items</th>
        </tr>
        </thead>
        <thead class = "second-head">
        <tr>
            <th>Item ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Seller ID</th>
            <th>Start Price</th>
            <th>Best Offer</th>
            <th>Bidder ID</th>
            <th>Stop Date</th>
            <th>Start Date</th>


        </tr>
        </thead>
        <tbody>


        <th:block th:each="item : ${searchItemsList}">
            <tr>
                <td th:text="${item.id}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.sellerId}"></td>
                <td th:text="${item.startPrice}"></td>
                <td th:text="${item.bestOffer}"></td>
                <td th:text="${item.bidderId}"></td>
                <td th:text="${item.endDate}"></td>
                <td th:text="${item.startDate}"></td>
            </tr>
        </th:block>



        </tbody>
    </table>
</section>




</body>
</html>